{% extends 'base.html.twig' %}
{% block body %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ querylist.AddressRecord.name }}</h5>
            <p class="card-text">{{ querylist.AddressRecord.number }}</p>
            <div>
                <form style="display: inline-block" method="post"
                      action="{{ path('query_list/cancel_share', {id : querylist.id }) }}">
                    <button class="btn-sm btn-danger btn">Cancel Share</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}