{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 50%" scope="col">Name</th>
                    <th style="width: 50%" scope="col">Phone number</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <th scope="row"><a style="text-decoration: none; color: black" href="{{ path('address/show', { id : item.id }) }}">{{ item.name }}</a></th>
                        <td>{{ item.number }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

