{% extends 'base.html.twig' %}
{% block body %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ addressBook.name }}</h5>
        <p class="card-text">{{ addressBook.number }}</p>
    </div>
</div>
{% endblock %}